@layer base {
  /* Your base styles */

  /* Font Details:-

  Thin 100 : ExtraLight 200 : Light 300
  Regular 400 : Medium 500 : SemiBold 600
  Bold 700 : ExtraBold 800
  */

  .sora-semibold {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
  }

  .dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .dm-sans-semibold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  h1 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 100px;
  }

  h2 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 56px;
  }

  h3 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 32px;
  }

  h4 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 20px;
  }

  h5 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 18px;
  }

  p {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 16px;
  }
}

@layer components {
  /* Your component classes */
  .react-logo {
    @apply motion-reduce:animate-none;
  }
}

@layer utilities {
  /* Your custom utilities */
}

/* Animation for React logo */
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
